<h1>Your Red Strings</h1>
<% @items.each do |item| %>
<div class="container">
<p><%= item.name %></p>
<p>Lent to <%= item.lent_to %></p><p><%= item.phone %></p><p><%= item.email %></p>
<p>Lent on: <%= item.date_lent.strftime("%B %d %Y") %></p>
<p>Due Back: <%= item.date_due.strftime("%B %d %Y") %></p>
<p><%= image_tag item.image.url(:large) %>

<% end %>
</p>