<h1>Everything you've lent out</h1>
<% @items.each do |item| %>
<p><%= item.name %></p>
<p><%= item.lent_to %> <%= item.phone %> <%= item.email %></p>
<p><%= item.date_lent %></p>
<p><%= item.date_due %></p>

<% end %>